@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
    font-family: PJS400;
    src: url("./public/assets/fonts/Italiana-Regular.ttf");
}

@theme{
    --color-primary:#ffffff;
    --color-secondary:#ffffff;
    --font-custom-regular: PJS400;   
    --font-poppins: Poppins, sans-serif;
}